<div class="container mt-5 p-4 bg-white">
        <h1 class="text-center mt-4">Edit your arrangement</h1>
        <p class="text-center my-4"><strong>"Refix your schedule or explain further to us."</strong>&#x1F600; </p>
        <%= render "shared/arrangements" %>
    </div>
