<div class="container">
<div class="row">
<div class="col">
<h1>Arrangements</h1>
<p>Votre rendez-vous est initié avec succès</p>
<ul><% @arrangements.each do |arrangement| %></ul>
        <li><%= arrangement.subject %></li>

        <li><%= arrangement.date %></li>
    <% end %>
</div>
</div>
</div>
