<div class="container">
<div class="row">
<div class="col">
<h1>Arrangements</h1>
<p>Votre rendez-vous est initié avec succès</p>
<% @arrangements.each do |arrangement| %>
        <p>Message: <%=arrangement.subject %></p>
        <p>Appointement: <%=arrangement.date %></p>
        <p>Status: <%=arrangement.status  %></p>
    <% end %>
</div>
</div>
</div>
