<div class="container">
  <div class="col">
    <div class="row">
        <h1 class="text-center">Create your arrangement</h1>
        <p class="text-center">Afin de pouvoir profité de notre savoir, choisissez un créneau horaire, nous n'hésiterons pas à vous contacter!&#x1F600; </p>
        <%= render "shared/arrangements"%>
    </div>
  </div>
</div>
