<div class="container">
  <div class="row">
    <div class="col">
    <%=@arrangement.subject %>
    <%=@arrangement.date %>
    <%=@arrangement.status %>

    <button class="btn btn-warning">Wait for confirmation</button>
    </div>
  </div>
</div>
