<div class="container">
  <div class="row">
    <div class="col">
    <p>Message: <%=@arrangement.subject %></p>
    <p>Appointement: <%=@arrangement.date %></p>
    <p>Status</p><button class="btn btn-warning"><%=@arrangement.status %></button>
    </div>
    </div>
  </div>
</div>
