 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://st.depositphotos.com/1003952/3617/i/600/depositphotos_36176219-stock-photo-power-plant-using-renewable-solar.jpg);">
  <div class="container">
    <h1 class="my-4">Book your appointment here </h1>
    <p class="my-4">Bonjour sur S-SOLAR SIMULATOR, prenez votre rendez-vous et nous répondons à toutes vos questions!</p>
    <%= link_to "Start now", new_arrangement_path, class: "btn btn-gradient"%>
    <div class="carde">
     <p><span>Transform your space and the planet! Ideal for homes and businesses. Slash bills, amplify savings, and embrace clean energy.
     </span></p>
     <p><span>A smart choice for you, a brighter future for our world with our solar kits.</span></p>
    </div>
    <footer>
     <div class="footer">
      <div class="footer-links">
       <a href="#"><i class="fab fa-github"></i></a>
       <a href="#"><i class="fab fa-instagram"></i></a>
       <a href="#"><i class="fab fa-facebook"></i></a>
       <a href="#"><i class="fab fa-twitter"></i></a>
       <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      </div>
    </footer>
  </div>
</div>
