<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Book your appointment here </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta necessitatibus debitis saepe deleniti. Qui ut porro, officia iusto impedit magni repellat animi fugit voluptatibus eligendi, sapiente aliquam beatae saepe. Sint?</p>
    <a class="btn btn-primary" href="#">click here !!!!</a>
  </div>
</div>
