<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://st.depositphotos.com/1003952/3617/i/600/depositphotos_36176219-stock-photo-power-plant-using-renewable-solar.jpg);">
  <div class="container">
    <h1>Book your appointment here </h1>
    <p class="text">Bonjour sur S-SOLAR SIMULATOR, prenez votre rendez-vous et nous répondons à toutes vos questions!</p>
    <%= link_to "Start now", new_arrangement_path, class: "btn btn-gradient"%>
  </div>
</div>
