.navbar-lewagon {
  justify-content: space-between;
  background :gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 20%;
}

.navbar-brand {
  font-family :Verdana, Geneva, Tahoma, sans-serif
  }

  .nav-item {
  font-family :Verdana, Geneva, Tahoma, sans-serif;
  }
