.navbar-lewagon {
  justify-content: space-between;
  background :#E3DAD7
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 20%;
  margin-bottom: 2px;
}

.navbar-brand {
  font-family :Verdana, Geneva, Tahoma, sans-serif
  }

  .nav-item {
  font-family :Verdana, Geneva, Tahoma, sans-serif;
  display :flex;
  font-size :1.1em
  }
.navbar-brand {
  height :auto
}
